### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Hibernate / JPA ###
*.ddl

### Database ###
# Файлы локальных БД (H2, SQLite и т.д.)
*.db
*.h2.db
*.mv.db

### System ###
.DS_Store
Thumbs.db

### Environment ###
.env
*.env.local

### Maven Wrapper ###
!mvnw
!mvnw.cmd
!/.mvn/wrapper/maven-wrapper.jar